a{
    color: #fff;
    text-decoration: none;
}
html{
    background: #FFF8CC;
    min-height: 100%;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
}
.sqr{
    background-image: url("lake.jpg");
    height: 250px;
    width: 380px;
}
.main{
    width: 100%;
    min-width: 460px;
    max-width: 960px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
}
.box{
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 0 40px -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-base{
    margin-left:50px;
    flex: 1 0 430px;
}
.box-side{
    margin-left: 50px;
    font: none;
}
.box-img{
    max-width: 100%;
    height: auto;
}
.comments{
    margin: 0 0 30px 30px;
    flex: 1 1 200px;
}
.comment{
    display: flex;
}
.comment-side{
    padding-right: 20px;
    flex: none;
}
.comment-base{
    color:#FFA985;
    flex: auto;
}
.comment-avatar{
    background: #FFA985;
    width: 50px;
    height: 50px;
}
a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    text-decoration: none;
}
a:active {
    color: blue;
}
